{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<!-- Full Page Intro -->
    <div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">

                <!--Grid row-->
                <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center text-md-left">
                    <h1 class="display-4 font-weight-bold text-center">BORN TO </h1>
                    <hr class="hr-light">
                    <h3 class="text-center"><strong>JUMP</strong></h3>
                </div>
                <!--/Grid column-->

                </div>
                <!--/Grid row-->

            </div>
            <!-- /Content -->

        </div>
        <!-- /Mask & flexbox options-->

    </div>
<!-- /Full Page Intro -->

<!-- Cards Container -->
<div class="container">
  <!--LISTE DES TRICKS-->
        <div class="row mt-2 mb-2">
            {% for trick in tricks %}
                <!--var url-->
                {% set url = path('trick_show', {'slug':trick.slug}) %}

                <!--card-->
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            {% for img in trick.imgs %}
                                {% if loop.first %}
                                    <a href="{{ url }}">
                                        <img style="height: 200px; width: 100%; display: block;" src="{{ asset('uploads/' ~ trick.imgs[0].fileName) }}" alt="Card image">
                                    </a>   
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between">
                            <div>
                                <a href="{{ url }}">{{trick.title}}</a>
                            </div>
                            <div>
                                <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="{{ path('trick_delete', {'slug':trick.slug})}}" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div><!-- /.row -->
        
</div>
  
{% endblock %}

