{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Liste des commentaires</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Trick</th>
                <th>Auteur du commentaire</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.trick.title }}</td>
                    <td>{{ comment.author.firstname }} {{ comment.author.lastname }} </td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td> {{ include('comment/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun commentaire trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if comments is not empty %}
    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue justify-content-end">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('comment_index', {'page': page - 1}) }}">Précédent</a>
            </li>
            {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}"> 
                    <a class="page-link" href="{{ path('comment_index', {'page':i}) }}"> {{i}} </a>
                </li>
            {% endfor %}
            
            <li class="page-item  {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path('comment_index', {'page': page + 1}) }}">Suivant</a>
            </li>
        </ul>
    </nav>
    <!--Pagination-->
{% endif %}

</div>
   
{% endblock %}
