{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Liste des commentaires</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Trick</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.trick.title }}</td>
                <td>{{ comment.author.firstname }} {{ comment.author.lastname }} </td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="badge badge-primary" href="{{ path('comment_show', {'id': comment.id}) }}">Voir</a>
                    <a class="badge badge-warning" href="{{ path('comment_edit', {'id': comment.id}) }}">Bloquer</a>
                    <a class="badge badge-danger"href="{{ path('comment_edit', {'id': comment.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
   
{% endblock %}
