<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% block stylesheets %}{% endblock %}
        <title>SNOWTRICKS{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="{{path('home')}}">
                    <strong>SNOWTRICK</strong>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Right -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home')}}">Accueil
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                                {% if app.user.avatar is null %}
                                <img src="https://eu.ui-avatars.com/api/?name={{app.user.firstname}}+{{app.user.lastname}}&rounded=true&color=2D0000&background=FFFFFF"  class="img-responsive" height="32" width="32"/>
                                {% else %}
                                <img src="{{app.user.avatar}}"  class="rounded-circle" height="32" width="32"/>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id} )}}">Mon Compte</a>
                                <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id} )}}">Modifier mes données</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('trick_new', {'id': app.user.id} )}}">Ajouter un trick</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('app_logout')}}">Se Déconnecter</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <!--/Nav barre-->

        <!--Flash-->
        <div class="container mt-5">
            <div class="row mt-5"> 
                <div class="col-12 mt-5"></div>
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                <p> {{ message | raw}} </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}  
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--/.Flash-->

        {% block backbody %}
            <div class="container-fluid mt-2 mx-0">
                <div class="row mt-3">
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %} 
                    <!-- Sidebar -->
                    <div class="col-3">
                        <div class="list-group list-group-flush">
                            <a href="{{path('app_admin')}}" class="list-group-item active waves-effect">
                                <i class="fa fa-pie-chart mr-3"></i>DASHBOARD
                            </a>
                            <a href="{{path('trick_index')}}" class="list-group-item list-group-item-action waves-effect">
                                <i class="fas fa-snowboarding mr-3"></i>Tricks</a>
                            <a href="{{path('category_index')}}" class="list-group-item list-group-item-action waves-effect">
                                <i class="fas fa-swatchbook mr-3"></i>Categories</a>
                            <a href="{{path('user_index')}}" class="list-group-item list-group-item-action waves-effect">
                                <i class="fa fa-user mr-3"></i>Utilisateurs</a>
                            <a href="{{path('comment_index')}}" class="list-group-item list-group-item-action waves-effect">
                                <i class="far fa-comment mr-3"></i>Commentaires</a>
                        </div>
                    </div>
                    <!--./Sidebar-->
                    {% endif %}
                
                    <!--Main layout-->
                    <div class="col">
                        {% block body %}{% endblock %}
                    </div>
                    <!--./Main layout-->
                </div>
            </div>

        
        {% endblock %}

       

        <!--Footer-->
        <footer class="page-footer text-center font-small mt-4 wow fadeIn">

            <!-- Social icons -->
            <div class="pb-4">
                <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                    <i class="fab fa-facebook-f mr-3"></i>
                </a>
                <a href="https://twitter.com/MDBootstrap" target="_blank">
                    <i class="fab fa-twitter mr-3"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
                    <i class="fab fa-youtube mr-3"></i>
                </a>
                <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
                    <i class="fab fa-google-plus-g mr-3"></i>
                </a>
                <a href="https://dribbble.com/mdbootstrap" target="_blank">
                    <i class="fab fa-dribbble mr-3"></i>
                </a>
                <a href="https://pinterest.com/mdbootstrap" target="_blank">
                    <i class="fab fa-pinterest mr-3"></i>
                </a>
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
                    <i class="fab fa-github mr-3"></i>
                </a>
                <a href="http://codepen.io/mdbootstrap/" target="_blank">
                    <i class="fab fa-codepen mr-3"></i>
                </a>
            </div>
            <!-- Social icons -->

            <!--Copyright-->
            <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--Bootstrap tooltips-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!--Bootstrap core JavaScript-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{asset('build/js/app.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
