<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% block stylesheets %}{% endblock %}
        <title>SNOWTRICKS {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="{{path('home')}}">
                    <strong class="shadow"><i class="fas fa-snowboarding"></i> SNOWTRICK</strong>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Right -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}">Accueil
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if app.user %}
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin')}}">Admin</a>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                                    {{ app.user.lastname}} {{ app.user.firstname}} - 
                                    {% if app.user.avatar is null %}
                                    <img src="https://eu.ui-avatars.com/api/?name={{app.user.firstname}}+{{app.user.lastname}}&rounded=true&color=2D0000&background=FFFFFF"  class="img-responsive" height="32" width="32"/>
                                    {% else %}
                                    <img src="{{app.user.avatar}}"  class="rounded-circle" height="32" width="32"/>
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id} )}}">Mon Compte</a>
                                    <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id} )}}">Modifier mes données</a>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('trick_new', {'id': app.user.id} )}}">Ajouter un trick</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{path('app_logout')}}">Se Déconnecter</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
        <!--/Nav barre-->

        <!--Flash-->
        {% for label, messages in app.flashes %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        <p> {{ message | raw}} </p>
                    </div>
                {% endfor %}  
            </div>
        {% endfor %}
        <!--/.Flash-->

        <!--Content-->
        {% block body %}{% endblock %}
        <!--/Content-->

        <!--Footer-->
        <footer class="page-footer text-center font-small mt-4 wow fadeIn">
            <!-- Social icons -->
            <div class="pb-4">
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-codepen mr-3"></i>
                </a>
            </div>
            <!-- Social icons -->

            <!--Copyright-->
            <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--Bootstrap tooltips-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!--Bootstrap core JavaScript-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{asset('build/js/app.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
