{% extends 'admin/base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <div class="row">
        <!--Titre-->
        <div class="col-12 d-flex justify-content-espace-between">
            <h1>Liste des tricks</h1>
            <a class="btn blue-gradient" href="{{ path('trick_new') }}">+</i></a>
        </div>
       
        <!--Tableau d'affichage-->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Categorie</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>{{ trick.id }}</td>
                    <td>{{ trick.title }}</td>
                    <td>{{ trick.category.title }}</td>
                    <td>{{ trick.createdAt|date('d/m/Y H:i', 'Europe/Paris') }}</td>
                    <td>{{ trick.updatedAt ? trick.updatedAt|date('d/m/Y H:i', 'Europe/Paris') : '' }}</td>                   
                    <td>
                        <a class="badge badge-primary" href="{{ path('trick_show', {'id': trick.id}) }}"><i class="far fa-eye"></i> Voir</a>
                        <a class="badge badge-warning" href="{{ path('trick_edit', {'id': trick.id}) }}"> <i class="far fa-edit"></i> Modifier</a>
                        <!--by form-->
                        {{ include('trick/_delete_form_badge.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Il n'y a aucun trick en ligne.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if tricks is not empty %}
            <!--Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination pg-blue justify-content-end">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('trick_index', {'page': page - 1}) }}">Précédent</a>
                    </li>
                    {% for i in 1..pages %}
                        <li class="page-item {% if page == i %}active{% endif %}"> 
                            <a class="page-link" href="{{ path('trick_index', {'page':i}) }}"> {{i}} </a>
                        </li>
                    {% endfor %}
                    
                    <li class="page-item  {% if page == pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('trick_index', {'page': page + 1}) }}">Suivant</a>
                    </li>
                </ul>
            </nav>
            <!--Pagination-->
        {% endif %}
    </div>
    

    
{% endblock %}
