{#################### 
    Section imgs 
####################}

{# Affichage du sous-formulaire imgs #}
{% block _trick_imgs_widget %}
    {# Le compteur #}
    <input type="hidden" id="counter" value="0"/> 
    {# Le form et le button #}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-img" class="btn blue-gradient btn-sm"><i class="fas fa-plus-circle fa-3x"></i></button>
    </div>
{% endblock %}

{# Affichage des entry imgs #}
{% block _trick_imgs_entry_widget %}
<div class="form-group" id="block_{{id}}">
    <div class="row">
        {# if img exist #}
        {% if form.fileName.vars.data %}
		<div class="col-1">
			<div class="input-group">
				<img src="{{ asset('uploads/' ~ form.fileName.vars.data) }}" alt="Image" width="50">
            </div> 
		</div>
        {% endif %}
        {# input type file #}

        <div class="col">
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
        </div>

        <div class="col"> 
            {{ form_errors(form.alt) }}
            {{ form_widget(form.alt) }}
        </div>

        <div class="col-1">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">X</button>
        </div>
    </div>
</div>
{% endblock %}

{# Redéfinition des imgs_entry_row #}
{% block _trick_imgs_entry_row %} 
    {{ form_widget(form) }}
{% endblock %}

{#################### 
    section movie 
#####################}

{# Redéfinition des row des movies #}
{% block _trick_movie_row %}
    <div class="row">
        <div class="col">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col">
            {{ form_label(form.src) }}
            {{ form_widget(form.src) }}
        </div>
    </div>  
{% endblock %}

