{% extends 'admin/base.html.twig' %}

{% block title %}Modification{% endblock %}

{% form_theme form 'trick/_collection_form.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Modifier le Trick: {{ trick.title }} </h1>
		{{ form_start(form) }}
			<div>{{ form_row(form.title) }}</div>
			<div>{{ form_row(form.description) }}</div>
			<div>
				{{ form_row(form.category) }}
			</div>
			<div>
				{{ form_row(form.movie) }}
			</div>

			<!--img-->
			<div>
				{{ form_row(form.imgs) }}
			</div>
			<!--./img-->	
			<button class="btn btn-primary center">{{ button_label|default("Modifier la figure") }}</button>
		{{ form_end(form) }}
	</div>

{% endblock %}


{# javascripts #}
{% block javascripts %}
    <script type="text/javascript" src="/js/trick.js"></script>
{% endblock %}
