{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <!-- Full Page Intro -->
    {% set url = asset('uploads/' ~ trick.imgs[0].fileName) %}

    <div class="view full-page-intro" style="background-image: url('{{ url }}'); background-repeat: no-repeat; background-size:cover; background-position:center center">

        <!-- Content -->
        <div class="container">
            <!--edit and delete button-->
            {% if app.user and is_granted("ROLE_ADMIN") %}
                <div class="row d-flex mt-container justify-content-end">
                    <a class="btn blue-gradient" href="{{ path('trick_edit', {'slug': trick.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('trick/_delete_form_btn.html.twig') }}
                </div>  
            {% endif %}
            
            <!--./edit and delete button-->

            <!--Grid row-->
            <div class="row wow fadeIn mt-container d-flex">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center text-md-left mt-container">
                    <h1 class="display-4 font-weight-bold text-center"> <span style="text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);"> {{ trick.title }} </span></h1>
                    <hr class="hr-light">
                </div>
                <!--/Grid column-->
            </div>
            <!--/Grid row-->
        </div>
        <!-- /Content -->
    </div>
    <!-- /Full Page Intro -->
	
    <!--rest-->
	<div class="container" style="margin-top:30px">
		
         <!-- IMAGES ET VIDEOS-->
        <div class="row px-1">
            <!--IMAGES-SLIDER-->
            <div class="col-md-6 ">
                <h3 class="h2 text-center">ILLUSTRATIONS</h3>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="border: 2px black solid">
                    <ol class="carousel-indicators">
                        {% for img in trick.imgs %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for img in trick.imgs %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('uploads/' ~ img.fileName)}}" class="d-block w-100" alt="{{ img.alt }}" width="100%" height="300">
                            </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--MOVIE-->
            <div class="col-md-6 ">
                <h3 class="h2 text-center">VIDEO</h3>
                <iframe width="560" height="300" src="https://www.youtube.com/embed/{{ trick.movie.src}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!--/.MOVIE-->

        </div>

        <!-- Description -->
		<div class="row">
			<div class="col-xl-12 col-md-12">
                <div class="mt-4 d-flex justify-content-center">
                    {{ trick.description }}
                </div>	
			</div>
		</div>
		<!-- /Description -->

		<!-- Badges -->
		<div class="row">
			<div class="col-xl-12 col-md-12">
				<p class="text-center mt-4">
                    <span class="btn blue-gradient">Date de publication: {{ trick.createdAt|date('d-M-Y H:i:s') }} </span>
                    {% if trick.updatedAt is not null %}
                        <span class="btn blue-gradient btn-sm">Date de modification: {{ trick.updatedAt ? trick.updatedAt|date('d-M-Y H:i:s') : '' }} </span>
                    {% endif %}
					<span class="btn blue-gradient">Groupe: {{ trick.category.title }}</span>
				</p>
			</div>
		</div>
		<!-- /.Badges -->

        <!-- new comment -->
        <h2 class="text-center mt-5">COMMENTAIRES</h2>
        
        <hr class="col-lg-6 col-md-6" style="width:100%; background-color:black;"/>
        <!-- new comment form -->
        {% if app.user %}
            <div class="row">
                <div align="center" class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
                    {{ include('comment/_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <p>Vous devez vous connectez pour ajouter un commentaire.</p>
                    <a class="btn blue-gradient btn-sm" href="{{ path('app_login')}}">Connexion</a>
                </div>
            </div>
        {% endif %}
       
        <hr class="col-lg-6 col-md-6" style="width:100%; background-color:black;"/>
        <!--/new comment-->

        <!--Old comments-->
        {% if comments | length > 0 %}
            
            {% for comment in comments %}
                <div class="row justify-content-center grid-item">
                    <div class="col-xl-6 col-md-6 mt-2" align="center">
                        <!--Comment head-->
                        <div class="row blue-gradient justify-content-center">
                            <!--Mettre l'avars de l'author/l'user-->
                            <div class="col-lg-3 col-md-3">
                                {% if comment.author.avatar is null %}
                                    <img src="https://eu.ui-avatars.com/api/?name={{comment.author.firstname}}+{{comment.author.lastname}}&rounded=true&color=2D0000&background=FFFFFF"  class="img-responsive" height="32" width="32"/>
                                {% else %}
                                    <img src="{{comment.author.avatar}}"  class="rounded-circle z-depth-2" height="32" width="32"/>
                                {% endif %}
                            </div>
                            <div class="col-lg-9 col-md-9 text-left">
                                {{comment.author.firstname}} {{comment.author.lastname}}
                            </div>
                        </div>
                        <!--/Comment head-->
                        <!--Comment body-->
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12">
                                {{comment.content}}
                            </div>
                        </div>
                        <!--/Comment body-->
                        <!--Comment footer-->
                        <div class="row justify-content-center card-footer">
                            <div class="col-6">
                                <span> Crée le: {{ comment.createdAt ? comment.createdAt|date('d-m-Y H:i') : '' }}</span> 
                                {% if comment.updatedAt is not null %}
                                | <span> Dernière modification: {{ comment.updatedAt ? comment.updatedAt|date('d-m-Y H:i') : '' }}</span>
                                {% endif %}
                            </div>

                        </div>
                        <!--./Comment footer-->    
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>Il n'y a aucun commentaire pour cet trick. </p>
        {% endif %}
        <!--/.Old comments -->

         <!-- loadMore/loadLess -->  
         <div class="row justify-content-center m-5">
            <a href="#" id="loadMore" class="btn blue-gradient btn-sm"> <i class="fas fa-plus-circle fa-3x"></i></a>
            <a href="#" id="loadLess" class="btn blue-gradient btn-sm"> <i class="fas fa-minus-circle fa-3x"></i></a>
        </div>
        <!-- ./loadMore/loadLess --> 

	</div>	
    <!--/rest -->
{% endblock %}

{% block javascripts %}
<script>
//Show more tricks on home page */
    function loadMore()
    {
        // Hide trick from trick number 6
        $(".grid-item").slice(3, $("div.grid-item").length).hide();
        $("#loadLess").hide();  

        $("#loadMore").on('click', function (e) { e.preventDefault(); 
            $("div.grid-item:hidden").slice(0, 3).slideDown(); 
            // Si le nombre de truc caché =0 dc si tout est affiché
            if ($("div.grid-item:hidden").length == 0){ 
                //cache le button loadMore
                $("#loadMore").hide(); 
                // Affiche le button loadless
                $("#loadLess").show(); } }); 

                // Si je clique sur le button loadless
                $("#loadLess").on('click', function (e) { e.preventDefault(); 
                
                $("div.grid-item").slice(3, $("div.grid-item").length).slideUp(); 
                //je cache le button loadless
                $("#loadLess").hide(); 
                $("#loadMore").show(); 
            }
        ); 
    } 
    loadMore();
</script>
{% endblock %}