{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="row">
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Roles</th>
                <th>Activation token</th>
                <th>Reset token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.activationtoken }}</td>
                <td>{{ user.resettoken }}</td>
                <td> {{ include('user/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn blue-gradient">
        <span><strong>Nouveau</strong></span>            
    </a>
</div>
   
{% endblock %}
